<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" ng-click="deals.showForm()" class="btn btn-primary btn-sm" value="{{deals.valueButton}}" data-toggle="modal"
        data-target=".bs-example-modal-lg">Add deal</button>
    </div>
    <table class="table">
        <tr>
            <th class="well">Идея</th>
            <th class="well">Связь установлена</th>
            <th class="well">Предложение представлено</th>
            <th class="well">Обнаружены потребности</th>
            <th class="well">В процессе переговоров</th>
        </tr>
        <tr>
            <td>
                <div class="well" id="dragable" ng-click="deals.dragNdrop" ng-repeat="d in deals.deals track by $index">
                    <form class="form-horizontal">
                        <button class="btn btn-danger" ng-click="deals.deleteDeal($index)">x</button>
                        <div class="form-group row">
                            <label for="input1" class="">Person Name</label>
                            <div class="">
                                <input type="text" class="form-control" id="input1" required placeholder="{{d.personName}}" readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input1" class="">Company Name</label>
                            <div class="">
                                <input type="text" class="form-control" id="input1" required placeholder="{{d.companyName}}" readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input1" class="">Deal Title</label>
                            <div class="">
                                <input type="text" class="form-control" id="input1" required placeholder="{{d.dealTitle}}" readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input2" class="">Due Date</label>
                            <div class="">
                                <input type="date" id="input2" class="form-control" required required title="" placeholder="{{d.dueDate}}" readonly/>
                            </div>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myForm" aria-hidden="true">
    <div class="modal-content">
        <div class="well col-md-6 col-md-offset-3" ng-if="deals.isRemoveEl">
            <form action="#" method="post" class="form-horizontal">
                <div class="form-group row">
                    <label for="input1" class="col-sm-12">Person Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="input1" required ng-model="deals.personName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input1" class="col-sm-12">Company Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="input1" required ng-model="deals.companyName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input1" class="col-sm-12">Deal Title</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="input1" required ng-model="deals.dealTitle" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input2" class="col-sm-12">Due Date</label>
                    <div class="col-sm-12">
                        <input type="date" id="input2" class="form-control" required required title="" ng-model="deals.dueDate" />
                    </div>
                </div>
                <div class="col-sm-12 form-group row">
                    <button type="button" class="btn btn-success btn-sm col-md-offset-11 " data-dismiss="modal" ng-click="deals.addDeal()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>